body {
  font-family: Arial, sans-serif;
}

.box{
  background: rgba(255,255,255,0.1);
  padding:20px;
  border-radius:15px;
  width:300px;
  text-align:center;
}

.title{
  margin-bottom:10px;
  font-size:20px;
}

.input{
  width:100%;
  padding:8px;
  margin-bottom:10px;
  color:black;
}

.input2{
  width:100%;
  padding:8px;
  margin-bottom:10px;
  border:1px solid #ccc;
  color:black;
}

.btn{
  width:100%;
  background:blue;
  color:white;
  padding:10px;
}

.btn-submit{
  width:100%;
  background:green;
  color:white;
  padding:10px;
}

.btn-logout{
  background:red;
  padding:10px;
  margin-bottom:10px;
}

.table{
  width:100%;
  background:white;
  color:black;
}